<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dahyeon.mirim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mirimapp.mirim.activities.SplashActivity"
                    android:theme="@style/notitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mirimapp.mirim.activities.MainActivity" />
        <activity android:name="com.mirimapp.mirim.activities.Menu2DomitoryActivity" />
        <activity android:name="com.mirimapp.mirim.activities.Menu3BoardActivity" />
        <activity android:name="com.mirimapp.mirim.activities.Menu4MarketActivity" />
        <activity android:name="com.mirimapp.mirim.activities.Menu5MypageActivity" />
        <activity android:name="com.mirimapp.mirim.activities.SigninActivity" />
        <activity android:name="com.mirimapp.mirim.activities.SignupActivity" />
        <activity android:name="com.mirimapp.mirim.activities.M51Activity" />
        <activity android:name="com.mirimapp.mirim.activities.M52Activity" />
        <activity android:name="com.mirimapp.mirim.activities.M21Activity" />
        <activity android:name="com.mirimapp.mirim.activities.M22Activity" >

        </activity>
    </application>

</manifest>